.navbar-nav a{
	font-size: 120%;
	margin: 0 40px 0 0;
}

.all {
	background: radial-gradient(lightgray, pink);
	text-align: center;
}

.list a {
	color: black;
	text-decoration: none;
	font-size: 120%;
}

.list a:hover {
	color: violet;
	text-decoration: none;
}

.row {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row a {
	color: black;
	text-decoration: none;
}

.row a:hover {
	color: violet;
	text-decoration: none;
}

.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imgbut {
    outline: none; 
    background-color: rgba(255,255,255,.5); 
    cursor: pointer; 
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.imgbut:hover {
    background-color: rgba(255,255,255,.8); 
}


.list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list a {
	font-size: 110%;
}

.pr {
	margin: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.media {
	margin: 5%;
}

.media a{
	color: blue;
	text-decoration: none;
}

.media a:hover {
	color: violet;
	text-decoration: none;
}

@media screen and (min-width:1024px){ 
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/me4.jpg");
        height: 400px;
    }

    .hero-text {
      top: 55%;
    }

    .navbar {
		height: 60px;
	}

	.navbar-header {
		display: none;
	}
}


@media screen and (min-width:210px) and (max-width: 1024px){
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/me.jpg");
        height: 310px;
    }

    .hero-text {
        top:65%;
    }

    .navbar {
		text-align: center;
		min-height: 55px;
		width: 100%;
	}
}