.all {
	background: radial-gradient(lightgray, pink);
	text-align: center;
}

.all a {
	color: black;
	text-decoration: none;
	font-size: 120%;
}

.all a:hover {
	color: violet;
}

.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imgbut {
    outline: none; 
    background-color: rgba(255,255,255,.5); 
    cursor: pointer; 
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.imgbut:hover {
    background-color: rgba(255,255,255,.8); 
}


ul {
    list-style-type: none;
}

.pr {
	margin: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pr a {
	font-size: 110%;
}

@media screen and (min-width:1024px){ 
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/me4.jpg");
        height: 350px;
    }

    .hero-text {
      top: 50%;
    }

    .navbar {
		height: 60px;
	}

	.navbar-header {
		display: none;
	}
}


@media screen and (min-width:210px) and (max-width: 1024px){
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/me.jpg");
        height: 300px;
    }

    .hero-text {
        top:65%;
    }

    .navbar {
		text-align: center;
		min-height: 55px;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

    .all {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}