.headmenu {
    list-style-type: none;
    font-size: 16px;
    font-family: candara;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 3% 0 5% 5%;
}

.headmenu li {
    float: left;
    min-width: 45px;
}

.headmenu a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
}

.headmenu a:hover{
    color: #FFFFFF;
}

.menu img {
    opacity: .7;
}

.menu img:hover {
    opacity: 1;
}

button { 
    background: #B9CEF8;
    color: #2A1E24;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    cursor: pointer;
    font-size: 25px;
    font-family: candara;
    margin-top: 3.5%;
    outline: none;
}

.colored {
    text-align: center;
    background-color: ;
}