body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.headmenu {
    list-style-type: none;
    font-size: 16px;
    font-family: candara;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1.5% 0 0 0;
}

.headmenu a {
    color: #000;
    opacity: .7;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headmenu a:hover{
    color: #000;
    opacity: 1;
}

.menu img {
    opacity: .7;
    bottom: 0;
    position: fixed;
    margin-bottom: 20px;
}

.menu img:hover {
    opacity: 1;
}

button { 
    background: #B9CEF8;
    color: #2A1E24;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    cursor: pointer;
    font-size: 25px;
    font-family: candara;
    margin-top: 3.5%;
    outline: none;
}

.colored {
    text-align: center;
    background-color: ;
}