body {
    background: linear-gradient(#030326, #030326);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headmenu {
    list-style-type: none;
    font-size: 16px;
    font-family: candara;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headmenu a {
    display: block;
    color: #FFFFFF;
    opacity: .7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headmenu a:hover{
    color: #FFFFFF;
    opacity: 1;
}

.menu img {
    opacity: .7;
    width: 35px;
    bottom: 0;
    position: fixed;
    margin-bottom: 20px;
}

.menu img:hover {
    opacity: 1;
}

.daysweek {
    font-family: candara; 
    margin: 3% 0 0 0;
}

#day {
    text-align: center;
    color: white;
}

#description {
    color: white;
}

.glow {
      color: #fff;
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
      from {
         text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
}

@media screen and (min-width: 250px) and (max-width: 1024px) { 
    .daysweek {
        width: 93%;
    }
	
    #description {
        font-size: 100%;
    }

    #day {
        font-size: 150%;
    }
}

@media screen and (min-width:1024px){ 
    .daysweek {
        width: 70%;
    }

	#description {
        font-size: 120%;
	}
	
    #day {
        font-size: 190%;
    }
}
