body {
	background-color: #CFB5C4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 20px;
    font-size: 14px;
    font-family: candara;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
}

li {
    float: left;
    min-width: 45px;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color: #000000;
}


#days { 
    -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    margin: 10% 0 10% 0; 
    font-size: 120%;
    width: 92%;
    height: 30%;
    font-family: candara; 
    color: #230642;
    background-color: #9BDF9A;
    text-align: center; 
    padding-right: 6%;
    padding-left: 6%;
}

.daysweek {
	-moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    font-size: 120%;
    font-family: candara; 
    display:table; 
    color: #230642;
    margin-top: 70px;
    background-color: #92C9DD;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#day {
    font-size: 110%;
    width: 90%;
    font-family: candara; 
    color: #230642;
    text-align: center; 
    display:inline-block;
    position:relative;
}

@media screen and (min-width: 250px) and (max-width: 1024px) { 
    .daysweek {
        width: 80%;
        height: 250px;
    }

    body {
        width: 100%;
    }
}

@media screen and (min-width:1024px){ 
    .daysweek {
        width: 55%;
        height: 350px;
    }
}