body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headmenu {
    list-style-type: none;
    font-size: 16px;
    font-family: candara;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headmenu a {
    display: block;
    color: #FFFFFF;
    opacity: .7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headmenu a:hover{
    color: #FFFFFF;
    opacity: 1;
}

.menu img {
    opacity: .7;
    width: 35px;
    bottom: 0;
    position: fixed;
    margin-bottom: 20px;
}

.menu img:hover {
    opacity: 1;
}

.daysweek {
    font-family: candara; 
    margin: 5% 0 5% 0;
}

#day {
    color: #230642;
    display:inline-block;
    position:relative;
}

#description {
    width: 90%;
    color: #230642;
}

@media screen and (min-width: 250px) and (max-width: 1024px) { 
    .daysweek {
        width: 95%;
    }
	
    #description {
	    text-align: center;
    }

    #day {
        font-size: 150%;
    }
}

@media screen and (min-width:1024px){ 
    .daysweek {
        width: 55%;
        height: 350px;
    }

	#description {
        font-size: 100%;
	}
	
    #day {
        font-size: 170%;
    }
}
